/*    .attribution {
        font-size: 11px;
        text-align: center;
     }
    .attribution a {
         color: hsl(228, 45%, 44%);
         }
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:  hsl(218, 52%, 70%)
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 320px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    font-size: 18px;
    margin: 20px 0 15px;
    color: hsl(218, 44%, 22%);
}

.card p { 
    font-size: 14px;
    color: hsl(216, 15%, 48%);
    margin-bottom: 15px;
}